@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution:wght@400;600;700&display=swap');


body {
  font-family: 'Protest Revolution', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
